.Header {
	background: #14110e;
}
.top-cards {
	display: flex;
	justify-content: space-evenly;
	padding-top: 174px;
	flex-wrap: wrap;
}
.header-top {
	padding-left: 45px;
}
.header-top h1,
h2,
h3 {
	margin-bottom: 24px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
}
.header-top span {
	color: #c99e71;
	font-family: cursive;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
}
.header-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.head-body-left {
	padding-top: 140px;
	/* padding-right: 32px; */
}
.h-b-l-i1 {
	display: block;
	margin-bottom: -302px;
	height: 302px;
	width: 298px;
	left: 375px;
	top: 1618px;
	border-radius: 0px;
}
.h-b-l-i2 {
	height: 302px;
	width: 298px;
	left: 375px;
	top: 1618px;
	border-radius: 0px;
}
.h-b-l-i3 {
	margin-left: 32px;
}
.head-body-right {
	margin-top: 140px;
	min-height: 635px;
	width: 500px;
	left: 1035px;
	top: 1618px;
	border-radius: 0px;
	background: #1c1814;
}
.head-body-right h1 {
	margin: 120px 56px 0;
	font-family: Urbanist;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #c99e71;
}
.head-body-right h2 {
	margin: 0 56px 0;
	min-height: 124px;
	max-width: 398px;
	font-family: Righteous;
	font-size: 58px;
	font-weight: 400;
	line-height: 62px;
	letter-spacing: 0em;
	text-align: left;
}
.head-body-right h3 {
	min-height: 174px;
	max-width: 368px;
	margin: 0 56px 0;
	font-family: cursive;
	font-size: 16px;
	font-weight: 500;
	line-height: 29px;
	text-align: left;
	text-transform: capitalize;
	color: rgba(243, 243, 243, 0.781);
}
.card1 .card2 .card3 {
	margin-top: 20px;
}
@media screen and (min-width: 900px) and (max-width: 1090px) {
	.header-top h1,
	h2,
	h3 {
		margin-bottom: 24px;
		font-size: 22px;
		font-weight: 400;
		line-height: 27px;
	}
	.card1 img {
		width: 300px;
	}
	.card2 img {
		width: 300px;
	}
	.card3 img {
		width: 300px;
	}
}
@media screen and (min-width: 551px) and (max-width: 899.9px) {
	.card1 img {
		width: 280px;
	}
	.card2 img {
		width: 280px;
	}
	.card3 img {
		width: 280px;
	}
	.h-b-l-i1 {
		width: 250px;
		height: 280px;
	}
	.h-b-l-i2 {
		height: 260px;
		width: 250px;
	}
	.h-b-l-i3 {
		width: 250px;
	}
	.head-body-right h2 {
		margin: 0 56px 0;
		min-height: 124px;
		max-width: 398px;
		font-family: Righteous;
		font-size: 40px;
		font-weight: 400;
		line-height: 62px;
		letter-spacing: 0em;
		text-align: left;
	}
}
@media screen and (min-width: 170px) and (max-width: 550.9px) {
	.card1 .card2 .card3{
      width: auto;
      margin-left: 20px;
   }
   .card1 img {
		max-width: 230px;
		width: 100%;
	}
	.card2 img {
		max-width: 230px;
		width: 100%;
	}
	.card3 img {
		max-width: 230px;
		width: 100%;
	}
	.h-b-l-i1 {
		display: none;
	}
	.h-b-l-i2 {
		display: none;
	}
	.h-b-l-i3 {
		display: none;
	}
	.head-body-right h2 {
		margin: 20px 0 0 0;
		min-height: 124px;
		max-width: 398px;
		font-family: Righteous;
		font-size: 25px;
		line-height: 20px;
		text-align: center;
	}
	.header-top {
		padding: 15px;
	}
	.head-body-right {
		min-height: 635px;
		max-width: 400px;
		width: 100%;
	}
	.head-body-right h3 {
		min-height: 174px;
		max-width: 368px;
		margin: 0 36px 0;
		font-family: cursive;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		text-align: left;
	}
	.head-body-right h1 {
		margin: 120px 56px 0;
		font-size: 18px;
		text-align: left;
	}
}
